{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": "> 0.25%, not dead" // Adjust the target browsers as needed
                }
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-transform-modules-commonjs"
    ]
}